<div class="loading-spinner-container" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>

<table mat-table [dataSource]="this.storeService.children" class="mat-elevation-z8" *ngIf="!showSpinner" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('name')">
        Name
      </th>
      <td mat-cell *matCellDef="let child">{{ child.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="kindergarden">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('kindergarden')">
        Kindergarden
      </th>
      <td mat-cell *matCellDef="let child">
        <div class="kindergarden-info">
          <span>{{ child.kindergarden.name }}</span>
          <mat-icon (click)="openKindergardenDetails(child.kindergarden.id)">info</mat-icon>
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Adress</th>
      <td mat-cell *matCellDef="let child">{{ child.kindergarden.address }}</td>
    </ng-container>
  
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let child">{{ getAge(child.birthDate) }}</td>
    </ng-container>
  
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
      <td mat-cell *matCellDef="let child">{{ child.birthDate | date:'longDate' }}</td>
    </ng-container>

    <ng-container matColumnDef="entryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('entryDate')">
        Date of Entry
      </th>
      <td mat-cell *matCellDef="let child">{{ child.entryDate | date:'longDate' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let child">
        <mat-spinner *ngIf="showSpinner"></mat-spinner>
        <button mat-raised-button color="warn" (click)="cancelRegistration(child.id)" *ngIf="!showSpinner">
          Unregister
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['name', 'kindergarden', 'address', 'age', 'birthDate', 'entryDate', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'kindergarden', 'address', 'age', 'birthDate', 'entryDate', 'actions']"></tr>
  </table>


  <div class="pagination-container">
    <button mat-icon-button (click)="navigateToPage(currentPage - 1)" [disabled]="currentPage === 1">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

  <div class="pagination-pages">
    <button mat-button [ngClass]="page == currentPage ? 'active' : ''" (click)="selectPage(page)" *ngFor="let page of returnAllPages() | pagination">{{ page }}</button>
  </div>

  <button mat-icon-button (click)="navigateToPage(currentPage + 1)" [disabled]="currentPage === returnAllPages()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>