
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

$kindergardenApp-primary: mat.define-palette(mat.$indigo-palette);
$kindergardenApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$kindergardenApp-warn: mat.define-palette(mat.$red-palette);

$kindergardenApp-theme: mat.define-light-theme((
  color: (
    primary: $kindergardenApp-primary,
    accent: $kindergardenApp-accent,
    warn: $kindergardenApp-warn,
  )
));

@include mat.all-component-themes($kindergardenApp-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


app-spinner {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top:0;
  background: #fff;
  opacity: 0.5;
}
